.bar-graph div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.bar-graph1 div {
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.bar-graph-svg rect {
  fill: orange;
}

.bar-graph-svg text {
  fill: blue;
  font: 10px sans-serif;
  text-anchor: end;
}
/* .bar-graph-svg div {
  font: 10px sans-serif;
  background-color: orange;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
} */

#dashboard {
  width: 320px;
  border: 1px solid black;
}

p {
  text-align: center;
}
